# VITE_SUPABASE_URL: The URL of your Supabase project (from Settings > API)
VITE_SUPABASE_URL="https://your-project-id.supabase.co"

# VITE_SUPABASE_ANON_KEY: The public anon API key of your Supabase project (from Settings > API)
VITE_SUPABASE_ANON_KEY="your-anon-public-jwt-key"

# VITE_APP_URL: The URL where this client is hosted, used for reset password redirects.
VITE_APP_URL="http://localhost:3000"
